<!DOCTYPE html>
<html>
  <head>
    <title>SystemX</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<header>
		<%= link_to "出力", :action => "index" %>
		<%= link_to "設定", :action => "conf" %>
		<%= link_to "在庫", :action => "stock" %>
	</header>
    <%= yield %>
  </body>
</html>
